.menu {
  width: 100%;
  height: 100%;
  background-color: #0071FF;
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__logo {
    width: 100%;
    height: 100%;

    &__link {
      width: 9.4em;
      margin: 2em 0 4em 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    &__link {
      height: 2em;
      margin: 0.15em 0;
      padding: 0.2em 0.6em;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 1.125em;
      color: #ADD1FF;
      width: 100%;

      &--active {
        color: #FFFFFF;
        border-radius: 0.2em;
      }

      &__logo {
        margin: 0 0.8em 0 0;
      }
    }
  }

  &__profile {
    width: 80%;
    height: 7.5em;
    margin: 0 0 2em 0;
    display: flex;
    border-radius: 3.75em;
    background-color: #1E82FF;
    border: #4E9CFF solid 1px;
    text-decoration: none;

    &__avatar {
      width: 3.5em;
      height: 3.5em;
      object-fit: cover;
      border-radius: 50%;
      background-color: white;
      margin: .875em .5em 0 .875em;
      flex-shrink: 0;
    }

    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__name {
        font-size: 1.1em;
      }

      &__email {
        font-size: 0.6em;
        color: #98C6FF;
      }
    }
  }
}