.wallet {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  &__doughnut {
    height: 20em;
    width: 100%;
    padding: 1em 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;

      &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.8em;
        color: #3B618F;

        &__eye {
          width: 25px;
          height: 25px;

          &:hover {
            cursor: pointer;
          }
        }
      }
  
      &__value {
        font-size: 1.7em;
        padding: 0.3em 0;
      }
  
      &__converted {
        font-size: 1.17em;
        color: #5F7187;
      }
    }
  }

  &__accounts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  &__title__account {
    font-size: 0.7em;
    color: #424753;
    text-transform: uppercase;
    letter-spacing: .17em;
    width: 100%;
    max-width: 55em;
    text-align: left;
    padding: 1.5em 0;
  }
}