@use '../../styles/vars';

.dashboard {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "wallet transactions"
    "graphic graphic";
  grid-template-rows: 20em 1fr;
  grid-gap: 1em;
  padding: 1em;

  &__wallet {
    grid-area: wallet;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__dollars {
      width: 20%;
      height: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__tag {
        font-size: 0.8em;
        color: vars.$title-lvl-3;
      }

      &__value {
        font-size: 2.5em;
        color: vars.$title-lvl-1;
      }

      &__converted {
        font-size: 1.5em;
        color: vars.$title-lvl-2;
      }
    }

    &__percentage {
      width: 20%;
      height: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__tag {
        font-size: 0.8em;
        color: vars.$title-lvl-3;
      }

      &__value {
        font-size: 2.5em;
        color: vars.$positive;
      }

      &__converted {
        font-size: 1.5em;
        color: vars.$title-lvl-2;
      }
    }
  }

  &__transactions {
    grid-area: transactions;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & span {
      padding: 0.25em;
      margin: 0.15em;
      width: 100%;
      background-color: vars.$background-bar-boxes;
    }
  }

  &__graphic {
    grid-area: graphic;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}