.dashboard {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "wallet transactions"
    "graphic graphic";
  grid-template-rows: 20em 1fr;
  grid-gap: 1em;
  padding: 1em;

  &__wallet {
    grid-area: wallet;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__dollars {
      width: 20%;
      height: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__tag {
        font-size: 0.8em;
        color: #3B618F;
      }

      &__value {
        font-size: 2.5em;
      }

      &__converted {
        font-size: 1.5em;
        color: #5F7187;
      }
    }

    &__percentage {
      width: 20%;
      height: 5em;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__tag {
        font-size: 0.8em;
        color: #3B618F;
      }

      &__value {
        font-size: 2.5em;
        color: #00B007;
      }

      &__converted {
        font-size: 1.5em;
        color: #5F7187;
      }
    }
  }

  &__transactions {
    grid-area: transactions;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 70);
  }

  &__graphic {
    grid-area: graphic;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 70);
  }
}