.detail-account {
  grid-area: content;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__data-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2em;
  }
  
  &__graph {
    margin: 1.5em;
    height: 500px;
  }

  &__results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    text-align: center;

    &__head {
      display: grid;
      grid-template-columns: repeat(6, 10em);

      & div {
        background-color: #0071ff;
        padding: 1em;
      }
    }

    &__body {
      display: flex;
      flex-direction: column-reverse;
    }

    &__result {
      display: grid;
      grid-template-columns: repeat(6, 10em);
      margin: 0.2em;

      &:hover {
        cursor: pointer;
      }

      & div {
        padding: 0.5em;
      }

      &--positive {
        display: grid;
        grid-template-columns: repeat(6, 10em);
        background-color: #00904C;
        margin: 0.2em;

        &:hover {
          cursor: pointer;
        }

        & div {
          padding: 0.5em;
        }
      }

      &--negative {
        display: grid;
        grid-template-columns: repeat(6, 10em);
        background-color: #900000;
        margin: 0.2em;

        &:hover {
          cursor: pointer;
        }

        & div {
          padding: 0.5em;
        }
      }
    }
  }
}