.history {
  grid-area: content;
  display: grid;
  grid-template-areas: 
  "data-select"
  "graph"
  "account-list";
  grid-template-rows: 5em 25em 1fr;

  &__data-select {
    grid-area: data-select;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2em;
  }
  
  &__graph {
    grid-area: graph;
    margin: 1.5em;
  }

  &__account-list {
    grid-area: account-list;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}