.history {
  grid-area: content;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &__data-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2em;
  }
  
  &__graph {
    margin: 1.5em;
    height: 200em;
  }

  &__account-list {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: auto;

    &__result {
      &--positive {
        background-color: #00904C;
      }

      &--negative {
        background-color: #900000;
      }
    }

    table {
      border-collapse: collapse;
      border: 3px solid white;
      text-align: center;
    }

    thead tr {
      border: 3px solid white;
    }

    th {
      border: 1px solid;
      padding: 1em;
      width: 10em;
      text-align: center;
    }

    tbody tr {
    }

    td {
      border: 1px solid;
      padding: 0.4em;
    }
  }
}